<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="poly.persistance.mapper.MessageMapper">
	<insert id="insertMessage" parameterType="MessageDTO">
		INSERT INTO
		message(USER_NO, TITLE, CONTENT, SENDER, RELATION, PW, REG_DT)
		VALUES (#{user_no}, #{title}, #{content}, #{sender}, #{relation}, IFNULL(SHA2(#{pw},256), NULL), now())
	</insert>
	
	<select id="getMessage"  parameterType="string" resultType="MessageDTO">
        SELECT *
        FROM  message
        WHERE(USER_NO=#{user_no})
        ORDER BY MESSAGE_NO DESC
    </select>
    
    <select id="getSendedMessage"  parameterType="MessageDTO" resultType="string">
        SELECT CONTENT
        FROM message
        WHERE(PW=SHA2(#{pw},256) AND MESSAGE_NO=#{message_no})
        ORDER BY MESSAGE_NO DESC
    </select>
</mapper>
